{% load i18n %}
{% load static %}

{% load common_tags %}
{% load navigation_tags %}

<style type="text/css">

.btn-sm:hover{
    -webkit-transform: scale(1.1);
    background: #970000;
}
</style>

<div class="row">
    <div class="col-xs-12">
        <h4>
            {% if page_obj %}
                {% if page_obj.paginator.num_pages != 1 %}
                    {% blocktrans with page_obj.start_index as start and page_obj.end_index as end and page_obj.paginator.object_list|length as total and page_obj.number as page_number and page_obj.paginator.num_pages as total_pages %}Total ({{ start }} - {{ end }} out of {{ total }}) (Page {{ page_number }} of {{ total_pages }}){% endblocktrans %}
                {% else %}
                    {% blocktrans with page_obj.paginator.object_list|length as total %}Total: {{ total }}{% endblocktrans %}
                {% endif %}
            {% else %}
                {% blocktrans with object_list|length as total %}Total: {{ total }}{% endblocktrans %}
            {% endif %}
        </h4>
        <hr>
{% if register_search_form or quotation_search_form %}
    {% if register_search_form %}
        <form action="{% url 'register:register_list' %}" method="GET" role="search">
    {% else %}
        <form action="{% url 'register:register_quotations_list' %}" method="GET" role="search">
    {% endif %}
    <div class="input-group">
        <input class="form-control" name="q" type="text" value="">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">{% trans 'Search' %}</button>
        </span>
    </div>
    </form>
    <br />
{% endif %}

{% if register_filter or quotation_filter %}

<!-- row -->
<div class="row">

        <div id="search_filter" class="collapse">
        {% if register_filter %}
            <form id="my_search_form"  method="get" action="{% url 'register:register_list' %}">
        {% else %}
            <form id="my_search_form"  method="get" action="{% url 'register:register_quotations_list' %}">
        {% endif %}
          {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          <input type="hidden" name="search_q" value="{{ search_q }}">
          <div class="col-md-2"></div>
          <div class="col-md-8">
  <table border="0" style="padding:15px">
    <tr>
    {% for field in form.visible_fields %}
     {% if forloop.counter0 > 0 and forloop.counter0|divisibleby:1 %}
     </tr><tr>
     {% endif %}
        <td style="padding:5px">
        <label style="width:150px;padding:0px;" class="text-right" for="{{ field.name }}">{{ field.label }}</label>
        </td>
        <td style="padding:5px">
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
    {% endfor %}
    </tr>
    <tr>
        <td></td>
     <td class="text-right" style='padding:5px'><button type="submit" class="btn-sm btn-info" >Apply Filter</button></td>
    </tr>
  </table>
          </div>
          <div class="col-md-2"></div>
        </form>
        </div><!-- collapse -->
</div><!-- row -->
{% endif %}

        <div class="welll center-block">
            <div class="clearfix">
<div class="pull-right">
 <div class="row">
{% if register_filter or quotation_filter %}
    <div class="col-sm-4" style="padding-right:0px;height:50px;">
        <button class="btn btn-sm btn-info" href="#search_filter" data-toggle="collapse" style="margin-left:-20px;margin-top:8px;">Filter Results</button>
    </div>
    <div class="col-sm-4" style="padding-right:0px;height:50px;">
        {%if register_filter %}
            <form action="{% url 'register:register_list' %}" method="GET" role="search" style="display:inline;">
        {% else %}
            <form action="{% url 'register:register_quotations_list' %}" method="GET" role="search" style="display:inline;">
        {% endif %}
        <input type="hidden" name="print" type="text" value="{{ query_request }}">
        <button class="btn btn-sm btn-warning"  title="Print Report" style="margin-top:7px;" type="submit"><span class="glyphicon glyphicon-print"></span></button>
        </form>
    </div>
{% endif %}
  <div class="col-sm-4" style="padding-right:0px;height:50px;">
    <form action="{% url 'common:multi_object_action_view' %}" class="form-multi-object-action" method="get">
        {% if object_list %}
            {% if not hide_multi_item_actions %}
                {% get_multi_item_links_form object_list %}
            {% endif %}
            {% if multi_item_actions %}
                <fieldset style="margin-top: 10px; margin-bottom: 0px;margin-left:-40px;width:135px;">
                    {{ multi_item_form }}
                </fieldset>
            {% endif %}
        {% endif %}
    </form>
  </div>
</div>


</div>

            </div>
            </div>

            <div class="table-responsive">
                <table class="table table-condensed table-striped">
                    <tbody>
                        {% if not hide_header %}
                            <tr>
                                {% if multi_item_actions %}
                                    <th class="first"><input class="checkbox check-all" type="checkbox" /></th>
                                {% endif %}

                                {% if not hide_object %}
                                    <th>{% trans 'Identifier' %}</th>
                                {% endif %}

                                {% if not hide_columns %}
                                    {% for column in object_list|get_source_columns %}
                                        <th>{{ column.label }}</th>
                                    {% endfor %}
                                {% endif %}

                                {% for column in extra_columns %}
                                    <th>{{ column.name }}</th>
                                {% endfor %}

                                {% if not hide_links %}
                                    <th class="">&nbsp;</th>
                                {% endif %}
                            </tr>
                        {% endif %}
                        {% for object in object_list %}
                            <tr>

                            {% if multi_item_actions %}
                                <td>
                                {% if multi_select_item_properties %}
                                    <input type="checkbox" class="form-multi-object-action-checkbox check-all-slave checkbox" name="properties_{{ object|get_encoded_parameter:multi_select_item_properties }}" value="" />
                                {% else %}
                                    <input type="checkbox" class="form-multi-object-action-checkbox check-all-slave checkbox" name="pk_{{ object.pk }}" value="" />
                                {% endif %}
                                </td>
                            {% endif %}
                            {% if not hide_object %}
                                {% if main_object %}
                                    {% with object|object_property:main_object as object %}
                                        <td>{% if not hide_link %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>{% else %}{{ object }}{% endif %}</td>
                                    {% endwith %}
                                {% else %}
                                    <td>{% if not hide_link %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>{% else %}{{ object }}{% endif %}</td>
                                {% endif %}
                            {% endif %}
                             {% if not hide_columns %}
                                {% for column in object|get_source_columns %}
                                    <td>{% source_column_resolve column=column %}{{ column_result }}</td>
                                {% endfor %}
                            {% endif %}
                            {% for column in extra_columns %}
                                <td>{{ object|object_property:column.attribute }}</td>
                            {% endfor %}
                            {% if not hide_links %}
                                <td class="last">
                                    {% get_menu_links 'object menu' source=object as resolved_links %}
                                    {% for object_navigation_links in resolved_links %}
                                        {% with 'true' as horizontal %}
                                        {% with 'true' as hide_icon %}
                                            {% include 'navigation/generic_navigation.html' %}
                                        {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                </td>
                            {% endif %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="text-center" colspan=99>
                                    {% include 'appearance/no_results.html' %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'pagination/pagination.html' %}
        </div>
    </div>
</div>
